body{
  margin: 0;
  font-size: 8px;
  font-family: arial;
  font-weight: bold;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

.wrapper{
  width: 650px;
  margin: auto;
  position: relative;
}

ul.navigation{
  margin: 20px 0 20px 0;
  display: inline-block;
  padding: 0;
}

ul.navigation > li{
  float: left;
  list-style: none;
  margin-right: 20px;
  padding: 5px 0 5px 0;

}

ul.navigation > li > a{
  color: #9E9E9E;
  text-decoration: none;
  font-size: 10px;
  text-transform: capitalize;
}

ul.navigation > li:first-child{
  border-right: solid 1px #E7E7E7;
  padding-right: 20px;
}


ul.navigation > li:first-child > a{ 
  font-size: 14px;
  text-transform: uppercase;
  color: #716E6F;
  font-weight: bold;
}

.icon-cart{
  float: right;
  margin-top: 18px;
}

.mb25{
  margin-bottom: 25px;
}
.content-heading{
  clear:both;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin:0px auto 0 auto;
  width: 400px;
  border-bottom: solid 1px #DADADA;
}

.content-heading mark{
  background-color: white;
  padding: 0 20px 0 20px;
  position: relative;
  bottom: -10px;
  color: #646263;
  font-weight: bold;
}

.product-tray{
  margin: 15px -15px;
}

.product{
  border: 3px solid #F6F5F6;
  display: inline-block;
  width: 190px;
  margin:15px 15px 35px 15px;
  float: left;
}

.product a{
  display: block;
  text-align: center;
  padding: 15px 0 20px 0;
}

.product-description{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #A4A4A4;
}

.product-price{
  text-align: center;
  color: #5E5E5E;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 5px;
}

.brand-image:first-child{
  margin-left:0;
}

.brand-image{
  display: inline-block;
  margin-left:34px;
}

.brands-tray{
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}